@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: ;
}

nav {
  height: 70px;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  display: flex;
  flex: 20%
  height: 50px;
  padding: 10px;
  
  color: white;
  align-items: center;
  text-align: left;
  margin-left: 10%;
  font-family: 'Mochiy Pop One', sans-serif;
}

.menu {
  display: flex; 
  flex: 60%;
  margin-right: 10%; 
  margin-left: 5%;
  align-items: center;

  
}

.menu ul{
  display: flex;
  width: 100%; 
  justify-content: right;  
  align-items: center;
  /*background-color: white;*/
}

.menu ul li{  
  display: flex; 
}

.menu a {
  margin: 5px;
  text-decoration: none;
  color: black;
  transition: .3s ;
}

.menu a:hover {
  font-size: 24px;
  text-decoration: none;
  color: white;
  border-top: 3px solid white;
}

.menu a:last-child {
  background-image: linear-gradient(45deg, blue, lightblue);
  padding: 2%;
  margin-left: 5%;
  border-radius: 10px;
  transition: .3s;
}

.menu a:last-child:hover {
  background-image: linear-gradient(45deg, rgb(0, 149, 255), rgb(6, 187, 248));
  box-shadow: 2px 2px blue;
  padding: 2%;
  margin-left: 5%;
  border-radius: 10px;
  border: none;
}

.menu-img {
  height: 30px;

  display: none;
  transition: .3s;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 80px 10%;
  
}

.div {
  display: flex;
  flex: 50%;
  height: 300px;
  border: 1px solid aqua;  
  margin: 1%;
  border-radius: 30px;
  align-items: center;
  transition: .3s;
  z-index: 1;
}

.div:hover {
  background-color: aqua;
  color: white;
}

footer{
  position: relative;
  display: flex;
  height: 100px;
  border-top: 5px solid red;
  background-image: linear-gradient(45deg, aqua, rgb(106, 194, 194));
  color: white;
  justify-items: center;
  overflow: clip;
}

h2 {
  position: absolute;
  margin-left: 45%;
  margin-bottom: 10px;
  
}

h3 {
  position: absolute;
  margin-left: 35%;
  top: 40px;
}

@media only screen and (max-width:600px){

  .menu a{
    display: none;
  }

  .menu-img { 
    display: flex;
  }

  .menu-img:hover{
    height: 40px;
  }

  .menu-img:hover  .menu a{
    display: flex;
  }

  .container {
    position: relative;
    width: 80%;
    display: block;
    margin: 80px 10%;
  }

  .div {
    width: 98%;
          
  }  

}