* {
  padding: 20px;;
}

body {
  background-color: #ccc;
}

P { 
  color: red;
}

.center {
  text-align: center;
}

.fonte-30 {
  font-size: 30px;
}

#teste {
  color: blue;
  background-color: yellow;
}