body {
  background-color: white;
}

h1 {
  color: #13a3a8;
}

p {
  color: red;
}

.exemplo-back {
  height: 300px;
  background-color: gray;
  background-image: url('../img/back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background: gray url('../img/back1.jpg') no-repeat center cover;
  

}